<h3>Buscar <small>{{ searchTerm.concept }}</small></h3>
<hr>

<form (ngSubmit)="search()">
    <label for="concept"> Concepto: </label>
    <input 
        type="text" 
        placeholder="Concepto" 
        name="concept"
        [(ngModel)]="searchTerm.concept"
    />
    <label for="invNumber"> Número de factura: </label>
    <input 
        type="number" 
        placeholder="Número de factura" 
        name="invNumber"
        [(ngModel)]="searchTerm.invNumber"
    />
    <br>
    <button type="submit">
        Buscar
    </button>

</form>
